

<!-- About -->
<div id="about" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">ABOUT ME</div>
                <h2>Read where I come from<br> Imagine where I can go</h2>

                <div class="section-title">Disclaimer</div><br>
                <p class="text-justify">
                    In this section you will read about me as a person. This is not a resume, this is the timeline of my university and professional life. If you want to read
                    about my technical skills I would recommend to check my linkedIn profile. I have everything there and I even have a pdf copy of my CV. You can check it out 
                    by clicking in the linkedIn icon on the top right corner of the web page. Moreover, I have all my code in github. Its icon is next to the linkedIn one.
                </p>

                <div class="section-title">Engineer Baby Steps - 2015/2018</div><br>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="image-container">
                            <img class="img-fluid" src="assets/images/university-vigo.webp" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-5">
                        <div class="text-container">
                            <p class="text-justify">
                                I studied Telecommunications Engineering in the University of Vigo, Spain. It is close to my previous home in 
                                Pontevedra and the degree is nationally recognized there, so I thought it would be the right place to study.
                            </p>
                            <p class="text-justify">  
                                Spanish degrees are four years long (240ECTS), being the first one in any engineering just math, physics and some basic programing. The second 
                                year has a bit of each of the tracks you can choose for the next two years: telematics,
                                telecommunication systems, image and sound, and electronic systems. I chosed the former which is the area of expertise that deals with the things that are 
                                between a software engineer and the transmission of the information through the physical layer. That means, a telematic has knowledge of
                                software engineer system development, informatic transport protocols, data flow and a good background in mathematics, physics and electronics.
                            </p>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->

                <br><br><br>

                <div class="section-title">Internship experience - 2018</div><br>
                <p class="text-justify">
                    In the summer and autumn of 2018 I participated in a 6 month internship with a fintech startup, Qbitia. There, I worked as a Junior Software Engineer in an agile team
                    doing full stack web development and microservices (thanks to that and bootstrap this website is readable) and, close to the end of the experience, UI/UX 
                    with the desktop client of the company main product (Qcaid). Qbitia is a company that focuses in the development of trading software. Click here to check their website.
                </p>

                <br><br><br>

                <div class="section-title">My Bachelor's Last Year - 2018/2019</div><br>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text-container">
                            <p class="text-justify">
                                The last year was a busy one. During the first semester I went through my studies at the same time I was working in the internship. It was hard
                                but now I am proud of having been able to manage the situation.
                            </p>
                            <p class="text-justify">
                                In the second semester, during my bachelor thesis (12 ECTS) I had the opportunity to build a blockchain architecture that allows IoT device behaviour managment using 
                                an Ethereum private network. Here you can read about it in the projects section and this is the official repository of the university (Spanish 
                                content). I guess I should translate its content some day.
                            </p>
                            <p class="text-justify"> 
                                Moreover, I was lucky to be able to work in an electronic pillbox with an amazing team in the university project laboratory (12 ECTS). 
                                We even won the Telefonica Social Innovation award in the Hack4Good 2019.
                            </p>
                            <p>    
                                Check the Projects section of this website to read more information about them.
                            </p>

                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-7">
                        <div class="image-container">
                            <img class="img-fluid" src="assets/images/pillbox.webp" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->

                <br><br><br>

                <div class="section-title">Every good story needs a bit of confusion - 2019</div><br>
                <p class="text-justify">
                    I love physics and, when I was close to the end of my studies I started to wonder what would have happened with my life if I had studied 
                    physics instead of telematics. I always loved technology but I am quite fascinated about astrology too. Being the inquisitive person that I am
                    I came to the conclusion that I would rather fail miserably than to be all my life wondering what could have been. So, I finished my degree and,
                    because I love travelling, I applied to Groningen University physics program, I studied English hard to get the Cambridge Advanced Certificate 
                    and made a jump of faith in August 2019.
                </p>
                <p class="text-justify">
                    And well, I realized I love physics but I don't really need the university anymore. I already have a bachelors degree and the discipline that I 
                    didn't have at 18 so, if I want to learn something the best way to go is to learn it myself. I am quite independant in that sense and a little 
                    guidance from time to time is all I need. I started to miss technology again and I didn't want to spend 3-5 more years studying.
                    I wanted to start making a difference, so, in January 2020, I decided that even though I love physics, I want to continue being an engineer. 
                </p>

                <br><br><br>

                <div class="section-title">What now? - 2020</div><br>
                <p class="text-justify">
                    Back on track and more enthusiastic than ever I faced the dutch abhorrent housing market again and ended up in Utrecht looking for opportunities.
                    Ironically, I received an offer to work as a remote junior software engineer in Oceano Alfa, a spanish environmental NGO. There, I work in phone
                    app and web development and I am happier than ever knowing that my effort will really help society. Nevertheless, NGO and money were never friends
                    so I started this website to get an extra as a freelancer. So, if you feel like giving me a challenge, hit me up.
                </p>

                <br><br><br>

                <div class="section-title">Me</div><br>

                <div class="image-container">
                    <img class="img-fluid" src="assets/images/me-and-dunecoder.webp" alt="alternative">
                </div> <!-- end of image-container -->

                <br><br><br>

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of services -->