<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>TODAY IS THE BEGINNING OF A <span id="js-rotating">JOURNEY</span></h1>
                        <p class="p-heading p-large">Are you looking for an IT Freelancer or you just want to get to know me better? Stay here to know more.</p>
                        <button class="btn-solid-lg page-scroll" (click)="scrollToElement('intro')">DISCOVER</button>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
  </header> <!-- end of header -->
  <!-- end of header -->

<!-- Intro -->
<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">INTRO</div>
                    <h2>WELCOME TO DUNECODER</h2>
                    <p class="testimonial-text">"I have no special talent. I am only passionately curious."</p>
                    <p class="testimonial-author">Albert Einstein</p>
                    <p>In this website I publish my personal projects. The site is in development process so, there is still a long way to go. </p>
                    <p>Here, you can read about the services that I provide or my background too. </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/groningen-nord.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->

<!-- Description -->
<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <a class="fa-stack darken-on-hover" [routerLink]="['/projects']">
                        <span class="hexagon"></span>
                        <i class="fas fa-laptop fa-stack-1x"></i>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">Projects</h4>
                        <p>Click here to read about my personal projects.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <a class="fa-stack darken-on-hover" [routerLink]="['/services']">
                        <span class="hexagon"></span>
                        <i class="fas fa-handshake fa-stack-1x"></i>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">My Services</h4>
                        <p>If you want to know what I have to offer to the professional world, this is the place.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <a class="fa-stack darken-on-hover" [routerLink]="['/about']">
                        <span class="hexagon"></span>
                        <i class="fas fa-user fa-stack-1x"></i>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">About me</h4>
                        <p>Click here if you want to read my resume. </p>
                    </div>
                </div>
                <!-- end of card -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->

<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <img class="scroll-to-top-img" (click)="scrollToElement('header')" src="assets/images/top-button-orange.png" alt="alternative">
</div>
  