<!-- Preloader -->
<div *ngIf="isLoading" class="spinner-wrapper">
  <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
  </div>
</div>
<!-- end of preloader -->

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
  <!-- Text Logo - Use this if you don't have a graphic logo -->
  <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

  <!-- Image Logo -->
  <a class="navbar-brand logo-image" href="index.html"><img src="assets/images/logo.svg" alt="alternative"></a>


  <!-- Mobile Menu Toggle Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-awesome fas fa-bars"></span>
      <span class="navbar-toggler-awesome fas fa-times"></span>
  </button>
  <!-- end of mobile menu toggle button -->

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link page-scroll" [routerLink]="['home']">HOME <span class="sr-only">(current)</span></a>
          </li>
          <!-- Dropdown Menu -->          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle page-scroll" [routerLink]="['projects']" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">PROJECTS</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['projects/phone']"><span class="item-text">PHONE DEVELOPMENT</span></a>
                    <a class="dropdown-item" [routerLink]="['projects/web']"><span class="item-text">WEB DEVELOPMENT</span></a>
                    <a class="dropdown-item" [routerLink]="['projects/blockchain']"><span class="item-text">BLOCKCHAIN</span></a>
                    <a class="dropdown-item" [routerLink]="['projects/ai']"><span class="item-text">AI</span></a>
                    <a class="dropdown-item" [routerLink]="['projects/tdd']"><span class="item-text">TDD</span></a>
                </div>
            </li>
        <!-- end of dropdown menu -->       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle page-scroll" [routerLink]="['about']" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT ME</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['about/privacy-policy']"><span class="item-text">PRIVACY POLICY</span></a>
                    <a class="dropdown-item" [routerLink]="['about/terms-conditions']"><span class="item-text">TERMS & CONDITIONS</span></a>
                </div>
            </li>
        <!-- end of dropdown menu -->
        </ul>
        <span class="nav-item social-icons">
            <span class="fa-stack">
            <a href="https://github.com/iagotd">
                <span class="hexagon"></span>
                <i class="fab fa-github fa-stack-1x"></i>
            </a>
            </span>
            <span class="fa-stack">
                <a href="https://www.linkedin.com/in/iago-tudela-diaz">
                    <span class="hexagon"></span>
                    <i class="fab fa-linkedin fa-stack-1x"></i>
                </a>
            </span>
        </span>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->

<router-outlet></router-outlet>

<!-- Footer -->
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="text-container about">
                  <h4>Few Words About Me</h4>
                  <p class="white">Software Engineer that works in a NGO and freelances in his free time.</p>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-md-2">
              <div class="text-container">
                  <h4>Links</h4>
                  <ul class="list-unstyled li-space-lg white">
                    <li>
                        <a class="white" href="home">This</a>
                    </li>
                    <li>
                      <a class="white" href="https://github.com/iagotd">Repository</a>
                    </li>
                    <li>
                      <a class="white" href="https://www.linkedin.com/in/iago-tudela-diaz">LinkedIn</a>
                    </li>
                  </ul>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-md-2">
              <div class="text-container">
                  <h4>Info</h4>
                  <ul class="list-unstyled li-space-lg">
                    <li>
                      <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                  </li>
                  <li>
                      <a class="white" href="privacy-policy.html">Privacy Policy</a>
                  </li>
                  </ul>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-md-2">
              <div class="text-container">
                  <h4>Partners</h4>
                  <ul class="list-unstyled li-space-lg">
                      <li>
                          <a class="white" href="http://ccong.ccong.es/">CCONG</a>
                      </li>
                      <li>
                          <a class="white" href="https://www.oceanoalfa.com/">Océano Alfa</a>
                      </li>
                  </ul>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->

<!-- Copyright -->
<div class="copyright">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <p class="p-small">Copyright © 2020 <a href="home">Web page developed by Iago Tudela Díaz</a></p>
          </div> <!-- end of col -->
      </div> <!-- enf of row -->
  </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->