<!-- Services -->
<div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">SERVICES</div>
                <h2>Choose The Service Package<br> That Suits Your Needs</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Static Website</h3>
                        <p>Perfect for personal portfolios or sites that don't need content updates.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Professional design</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Smooth animations</div>
                            </li>
                        </ul>
                        <p class="price">Starting at <span>$99</span></p>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" (click)="scrollToElement('contact')">CONTACT</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Phone App</h3>
                        <p>Use this service pack if you want to create a phone application that suits your needs.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Android and IoS development</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Personalized phone application</div>
                            </li>
                        </ul>
                        <p class="price">Starting at <span>$199</span></p>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" (click)="scrollToElement('contact')">CONTACT</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Custom Project</h3>
                        <p>Adaptability and learning speed are my two top skills. Do you need something different?</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Personalized service</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Dream big</div>
                            </li>
                        </ul>
                        <p class="price">Starting at <span>$299</span></p>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" (click)="scrollToElement('contact')">CONTACT</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of services -->

<!-- Contact -->
<div id="contact" class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">CONTACT</div>
                    <h2>Get In Touch Using The Form</h2>
                    <p>Interested? Send an e-mail using this form. I will get in contact as soon as possible.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Utrecht, Netherlands</li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+34 664 679 697</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+31 06 22 851 911</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:info@dunecoder.com">info@dunecoder.com</a></li>
                    </ul>
                    <h3>Follow DuneCoder on Social Media</h3>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-github fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                
                <!-- Contact Form -->
                <form id="contactForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="cname" required>
                        <label class="label-control" for="cname">Name</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="cemail" required>
                        <label class="label-control" for="cemail">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-textarea" id="cmessage" required></textarea>
                        <label class="label-control" for="cmessage">Your message</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->